.home-title {
    font-size: 100px;
    font-weight: 200;
    color: white;
    margin: $spacing-unit 0;
    padding: 0px 40px 0px 40px;
    background: linear-gradient(rgb(256, 43, 104), rgb(254, 153, 71));
    border-radius: 30px;
    display: inline-block;

    @include media-query($on-palm) {
        font-size: 80px;
        line-height: 1.4;
        margin: 0;
    }
}

.home-description {
    font-size: 42px;
    line-height: 46px;
    font-weight: 200;
    color: $grey-color-dark;
    text-align: center;
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
        font-size: 28px;
        line-height: 1.2;
        margin-bottom: 0.5 * $spacing-unit;
    }
}

.home-section-title {
    text-align: center;
    font-size: 48px;
    margin-top: $spacing-unit;
    margin-bottom: 0.5 * $spacing-unit;

    @include media-query($on-palm) {
        font-size: 38px;
    }
}

/**
 * Share Icons
 */
.home-share-container {
    margin: 25px 0 20px 0;
    margin: $spacing-unit 0;
    display: flex;
    justify-content: center;
    @include media-query($on-palm) {
        margin: 0.5 * $spacing-unit 0;
    }
}

.home-share-icon {
    align-self: center;
}

.home-share-icon-twitter {
     margin-right: 18px;
     opacity: 0.8;
}


/**
 * Featurette
 */
.featurette-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.featurette-divider {
    margin: 20px 0;
    margin: $spacing-unit 0;
    border-top: 1px solid #eeeeee;
    transform: scaleY(0.5);
    width: 100%;

    @include media-query($on-palm) {
        margin: 0.5 * $spacing-unit 0;
    }
}

.featurette-block {
    text-align: center;
    width: 250px;
    margin: 0 4px;

    strong {
        font-weight: 400;
        font-size: 22px;
    }

    p {
        margin-top: 0.25 * $spacing-unit;
    }

    @include media-query($on-palm) {
        width: 100%;
        margin: 0;
    }
}


/**
 * Features (large blocks)
 */
 .feature-container {
     display: flex;
     justify-content: space-between;
     flex-flow: row wrap;

     h2 {
         text-align: center;
         margin: 0 0 0.25 * $spacing-unit 0;
     }
 }

 .feature-block {
     margin: 0 0.25 * $spacing-unit 0 0.25 * $spacing-unit;
     width: 47%;
     @include media-query($on-palm) {
         width: 100%;
     }
 }
